@model Vidly.ViewModel.CustomersViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Customers</h2>

@if (Model.Customers.Count == 0)
{
    <text> We currently don't have any customers </text>
}
else{ 
<table class=table table-­‐bordered table-­‐hover>
    <tr>
        <th>
            Customers
        </th>
    </tr>
        @foreach (var Customer in Model.Customers)
        {
            <tr>
                <td>
                    @Html.ActionLink(@Customer.Name, "Details", new { Id = Customer.Id}, null)                    
                </td>
            </tr>
        }
</table>
}
